.header {
  display: flex;
  /* margin: 0 auto;
  align-items: center; */
  /* justify-content: space-between;
  text-align: center; */
  /* /* border-bottom: 1px solid #3333; */
  /* }  */
  /* /* .header :not(:last-child) {
  margin-right: 50px; 
 }   */
}
