.input {
  display: block;
  width: 300px;
  margin-bottom: 20px;
  cursor: pointer;
  margin-top: 5px;
  padding: 15px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: solid 3px;
  transition: 250ms;
  border: solid 2px;
  outline: none;
  border: solid 2px#333333;
  background-color: #fff;
}

.input:hover,
.input:focus {
  border: solid 2px #3f51b5;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.btn {
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  border: solid 2px #3f51b5;
  transition: 250ms;
  background-color: #fff;
}

.btn:hover,
.btn:focus {
  color: #c9d1d9;
  background-color: #3f51b5;
  border-color: #fff;
}
